@font-face {
  font-family: "MyFont";
  src: url("./Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(221, 51%, 31%);
  font-family: "MyFont", sans-serif;
}
h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-size: 8rem;
  font-weight: 500;
  color: rgb(10, 36, 59);
  font-family: "MyFont", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40rem;
  width: 65rem;
}
.battle-grid {
  border: 1px solid black;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  cursor: pointer;
}
.battle-grid-off {
  cursor: not-allowed;
}
.element {
  border: 1px solid black;
}
.legal {
  background: rgb(140, 248, 146);
  cursor: pointer;
}
.illegal {
  cursor: not-allowed;
}
.activePlayer {
  background: rgb(130, 128, 251);
  cursor: pointer;
}
.hit {
  background: rgb(139, 30, 20);
  cursor: not-allowed;
}
.miss {
  background: rgb(243, 111, 3);
  cursor: not-allowed;
}
.element .activePlayer .illegal {
  cursor: not-allowed;
}
.element .activePlayer .legal {
  background: rgb(140, 248, 146);
}
.hidden {
  background-color: hsl(221, 51%, 31%);
}
.sunk {
  background-color: hsl(0, 0%, 58%);
}
.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MyFont", sans-serif;
  color: rgb(57, 90, 119);
  visibility: visible;
}
.modal-container-hidden {
  visibility: hidden;
  opacity: 1;
}
.modal {
  background-color: rgba(84, 197, 250, 0.945);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "MyFont", sans-serif;
}
.currentPlayer {
  width: 5rem;
  font-size: 3rem;
  color: hsl(228, 100%, 85%);
  margin: 1rem;
}
input {
  padding: 0.6rem 0.4rem;
  outline: none;
}
button {
  padding: 1.2rem 1.8rem;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: hsla(228, 59%, 19%, 0.959);
}
button:hover {
  padding: 1.2rem 2.2rem;
}
