@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsla(0, 6%, 90%, 0.363);
}
h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40rem;
  width: 45rem;
}
.battle-grid {
  border: 1px solid black;
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.element {
  border: 1px solid black;
}
.activePlayer {
  background: rgb(195, 170, 170);
}
.hit {
  background: green;
}
.miss {
  background: rgb(233, 15, 15);
}
