* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsla(0, 6%, 90%, 0.363);
}
.container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40rem;
  width: 45rem;
}
.battle-grid {
  border: 1px solid black;
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.element {
  border: 1px solid black;
}
